<h1>Your Borrowed Books</h1>

<table border='1'>
  <tr>
    <th>Books</th>
  </tr>
  <% @checkout.each do |data| %>
    <tr>
      <td><%= data.isbn %></td>
    </tr>
  <% end %>
</table>
<h1>Your Marked Books</h1>
<table border='1'>
  <tr>
    <th>Books</th>
  </tr>
  <% @request.each do |data| %>
    <tr>
      <td><%= data.isbn %></td>
    </tr>
  <% end %>
</table>


